* {
    transition: all .1s ease-in;
}

header {
    width: 1240px;
    height: 110px;
    background-color: #4a4f56;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    color: #eb7e7f;
    margin: auto;
    text-align: center;
}

.big_div {
    width: 1240px;
    height: 630px;
    background-color: #3b3f45;
    margin: auto;
}

#list {
    display: block;
    margin: auto;
    width: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
}

input,
label {
    line-height: 60px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    display: block;
    width: 800px;
    height: 63px;
}

.points {
    display: block;
    width: 800px;
    height: 63px;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    font-size: 20px;
    color: white;
}

div.big_div div#list ul li.points:hover {
    background-color: #625e77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

div.big_div div#list ul li.points input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

#list .points:nth-child(2n+1) {
    background-color: #88839e;
}

#list .points:nth-child(2n) {
    background-color: #7a7593;
}

#button {
    width: 800px;
    height: 75;
    margin: auto;
}

#button :nth-child(1) {
    width: 800px;
    height: 75;
    background-color: #4a4f56;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    font-size: 30px;
    color: #eb7e7f;
    text-align: center;
}
.stealth {
    display: inline-block;
    width: 780px;
}